<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/chat.css">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <div class="container">
        <div class="login_box">
            <div class="details">Details</div>
            <form action="/confirm-user" method="post">
                <div class="name">
                <label for="username">Enter Your Name:</label>
                <input placeholder="Name" required type="text" name="username" id="username">
                </div>
                <div class="passwrd">
                    <label for="password">Enter Password</label>
                    <input placeholder="Password" type="password" name="password" id="password">
                </div>
                <div class="submit">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</body>
</html>