<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/chat.css">
    <title>Document</title>
</head>
<body>
    <div id="chat-box" class="chat_body">
        <div class="message">
            <div class="user_details">
                <img src="/images/avatar1.svg" alt="avatar" />
                <span>Rick</span>
                <span class="time">10:14 PM</span>
            </div>
            <p>hello there how are you
                come to the garage we have some
                job to do
            </p>
        </div>
        <div class="next_message">
            <div class="time_box">
                <span class="time">10:30 PM</span>
            </div>
            <p>hello are you home</p>
        </div> 
        <div class="other_user">
            <div class="user_details">
                <img src="/images/ava.svg" alt="avatar" />
                <span>Morty</span>
                <span class="time">10:30 PM</span>
            </div>
            <p>Rick I cannot come i think you should go 
                alone
            </p>
        </div>
        <div class="other_next_message">
            <div class="time_box">
                <span class="time">10:30 PM</span>
            </div>
            <p>Inter-galactic police has blacklisted me</p>
        </div> 
    </div>
    <div class="message_div">
        <input class="message_input" type="text"  id="message-item">
        <span id="send-message" class="icon"><i class="fas fa-paper-plane"></i></span>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>