<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/chat.css">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <div class="container">
        <div class="login_box">
            <div class="details">Details</div>
            <form id="user-form" action="/submit-user" method="post">
                <div class="name">
                <label for="username">Enter Your Name:</label>
                <input  placeholder="Name" required type="text" name="username" id="username">
                </div>
                <div class="email">
                <label for="useremail">Enter Email:</label>
                <input placeholder="Email" required type="email" name="email" id="useremail">
                </div>
                <div class="passwrd">
                    <label for="password">Enter Password:</label>
                    <input placeholder="Password" type="password" name="password" id="password">
                </div>
                <div class="submit">
                    <input id="submit-button" type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
    <script>
        var submitBtn = document.getElementById('submit-button');
        var form = document.getElementById('user-form');
        submitBtn.addEventListener('click',(e) =>{
            e.preventDefault();
            let usernameInput = document.getElementById('username');
            let username = usernameInput.value;
            localStorage.setItem('username',username);
            form.submit();
        });
    </script>
</body>
</html>