* {
  box-sizing: border-box;
}

body {
  background-color: #112445;
  color: white;
  min-height: 100vh;
}

.chat_body {
  margin-left: 1em;
  color: white;
  overflow-y: scroll;
  margin-bottom: 10vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.chat_body * + * {
  margin-top: 12px;
}

.message, .other_user, .other_next_message {
  padding: 0.5em;
  background-color: #2b3a5a;
  min-width: 40vw;
  margin-right: 30vw;
  border-radius: 0.5em;
  border-top-left-radius: 0;
  clip-path: polygon(100% 0%, 100% 100%, calc(2% + 1vh) 100%, calc(2% + 1vh) calc(25% - 2vh), 0 0);
}
.message p, .other_user p, .other_next_message p {
  margin: 0;
  margin-left: 1em;
}

.next_message {
  margin-top: -4px;
  padding: 0.5em;
  background-color: #2b3a5a;
  min-width: 40vw;
  margin-right: 30vw;
  clip-path: polygon(100% 0%, 100% 100%, calc(2% + 1vh) 100%, calc(2% + 1vh) 0);
  border-radius: 0.5em;
  border-top: 1px solid grey;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
}
.next_message p {
  margin: 0;
  margin-left: 1em;
}

.user_details {
  margin-left: 1em;
  padding-right: 5px;
  font-size: 0.8em;
  color: #ff6600;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}
.user_details img {
  width: 30px;
  height: 30px;
}

.time_box {
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 1em;
  color: #ff6600;
  font-size: 0.8em;
  display: flex;
  padding-right: 0.5em;
}

.time {
  font-size: 0.8em;
  margin-left: auto;
}

.other_user, .other_next_message {
  clip-path: polygon(100% 0, 96% calc(20% - 1vh), 96% 100%, 0% 100%, 0% 0%);
  margin: 0;
  margin-top: 12px;
  margin-left: 30vw;
  border-radius: 0.5em;
  border-top-right-radius: 0;
}

.other_next_message {
  margin-top: -3px;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  border-top: 1px solid grey;
  clip-path: polygon(96% 0, 96% calc(20% - 1vh), 96% 100%, 0% 100%, 0% 0%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container a {
  padding: 0.5em;
  background-image: linear-gradient(180deg, #ff893a, #ff6600);
  margin-top: 0.6em;
  border-radius: 0.3em;
  text-decoration: none;
  font-size: 0.8em;
  color: #112445;
  margin-right: auto;
}

.hero, .login_box {
  display: flex;
  flex-direction: column;
  background-color: #2b3a5a;
  padding: 1em;
  border-radius: 1em;
}

.login_box label {
  font-size: 0.8em;
}
.login_box input {
  background-color: lightgreen;
  border: none;
  outline: none;
  padding: 0.4em;
  width: 100%;
  color: #112445;
  border-radius: 0.3em;
}
.login_box .details {
  text-align: center;
  margin-bottom: 1em;
}
.login_box .email {
  margin-top: 1em;
}
.login_box .submit input {
  margin-top: 1em;
  width: auto;
  margin-right: auto;
  background-color: #ff893a;
  color: white;
  cursor: pointer;
}
.login_box .passwrd {
  margin-top: 1em;
}

.message_div {
  position: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  bottom: 0.7em;
  right: 0.5em;
  left: 0.5em;
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}
.message_div .message_input {
  background-color: lightgreen;
  margin: 0;
  border: none;
  outline: none;
  padding: 0.4em;
  width: 100%;
  color: black;
  border-radius: 0.3em;
}
.message_div .icon {
  padding: 0.25em;
  background-color: lightgreen;
  border-radius: 0.2em;
  margin-left: 0.15em;
  color: #112445;
}
.message_div i {
  pointer-events: none;
}

/*# sourceMappingURL=chat.css.map */
